@model WebMatriculaNew.Entities.MateriaGrado

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Nueva</h1>

<h4>Materia / Grado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoMateriaGrado" class="control-label">Codigo de Materia / Grado</label>
                <input asp-for="CodigoMateriaGrado" class="form-control" />
                <span asp-validation-for="CodigoMateriaGrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreMateria" class="control-label">Nombre de Materia</label>
                <input asp-for="NombreMateria" class="form-control" />
                <span asp-validation-for="NombreMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grado" class="control-label"></label>
                <input asp-for="Grado" class="form-control" />
                <span asp-validation-for="Grado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
