<title>@ViewData["Title"] - Cobros vs Facturados segun Mensualidad</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div"></div>
<script type="text/javascript">google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax({

            url: 'Mensualidad/Grafico',
            dataType: "json",
            type: "GET",
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function(data) {
                Grafico(data);
                return false;
            }
        });
        return false;
    }

    function Grafico(data) {
        var dataArray = [
            ['Grupo/Periodo', 'Cobros', 'Facturados']
        ];
        $.each(data, function(i, item) {
            dataArray.push([item.gp, item.cobros, item.facturados]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'Resultados - Grupos ',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#7b1fa2'],
            hAxis: {
                title: 'Cobros, Facturados',
                minValue: 0
            },
            vAxis: {
                title: 'Mensualidad'
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

        chart.draw(data, options);
        return false;
    }</script>