@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Matriculas</h1>
    <p>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="PromedioXProfesorXGrupo" asp-action="Index">Promedio por Profesor por Grupo</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="Aprobacion" asp-action="Index">Promedio de Aprobacion por Grupo</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="AprobadoReprobado" asp-action="Index">Aprobacion y Reprobacion por Grupo</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="Aumento" asp-action="Index">Top 10 Aumentos de Salario</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="Ausencia" asp-action="Index">Top 10 Estudiantes por Ausencias</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="CobrovsFactura" asp-action="Index">Cobros vs Facturados</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="Deuda" asp-action="Index">Top 10 Padres por Deudas</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="GrupoAprobacion" asp-action="Index">Top 15 Grupos por Porcentaje de Aprobacion</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="Ingreso" asp-action="Index">Ingresos por Periodo</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="PGenero" asp-action="Index">Porcentaje de Estudiantes por Genero</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="Reprobacion" asp-action="Index">Porcentaje de Reprobacion por Grupo</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="Venta" asp-action="Index">Grafico de Ventas por Periodo</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="Ponderado" asp-action="Index">Promedio Ponderado por Estudiante</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="Mes" asp-action="Index">Cobros vs Mensualidad</a>
    <a style="font-weight: bold;" class="nav-link text-dark" asp-area="" asp-controller="CantEstudiante" asp-action="Index">Cantidad de Estudiantes por Grupo por Periodo</a>
    </p>
</div>
