@model WebMatriculaNew.Entities.Grupo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Grupo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoGrupo" />
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupo" class="control-label"></label>
                <input asp-for="Cupo" class="form-control" />
                <span asp-validation-for="Cupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MateriaGrado" class="control-label"></label>
                <select asp-for="MateriaGrado" class="form-control" asp-items="ViewBag.MateriaGrado"></select>
                <span asp-validation-for="MateriaGrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaMinima" class="control-label"></label>
                <input asp-for="NotaMinima" class="form-control" />
                <span asp-validation-for="NotaMinima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCurso" class="control-label"></label>
                <input asp-for="NombreCurso" class="form-control" />
                <span asp-validation-for="NombreCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anno" class="control-label"></label>
                <input asp-for="Anno" class="form-control" />
                <span asp-validation-for="Anno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aula" class="control-label"></label>
                <input asp-for="Aula" class="form-control" />
                <span asp-validation-for="Aula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedulaProfesor" class="control-label"></label>
                <select asp-for="CedulaProfesor" class="form-control" asp-items="ViewBag.CedulaProfesor"></select>
                <span asp-validation-for="CedulaProfesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
