@model WebMatricula.Entities.PeriodoLectivo

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Periodo Lectivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroPeriodo" class="control-label"></label>
                <input asp-for="NumeroPeriodo" class="form-control" />
                <span asp-validation-for="NumeroPeriodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinal" class="control-label"></label>
                <input asp-for="FechaFinal" class="form-control" />
                <span asp-validation-for="FechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoCerrado" class="control-label"></label>
                <input asp-for="CursoCerrado" class="form-control" />
                <span asp-validation-for="CursoCerrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoPendiente" class="control-label"></label>
                <input asp-for="CursoPendiente" class="form-control" />
                <span asp-validation-for="CursoPendiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedulaEstudiante" class="control-label"></label>
                <select asp-for="CedulaEstudiante" class ="form-control" asp-items="ViewBag.CedulaEstudiante"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
