@model WebMatriculaNew.Entities.CursoProfesor

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Curso Profesor/ Horario de Clases</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoCurso" class="control-label"></label>
                <input asp-for="CodigoCurso" class="form-control" />
                <span asp-validation-for="CodigoCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCurso" class="control-label"></label>
                <input asp-for="NombreCurso" class="form-control" />
                <span asp-validation-for="NombreCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <select asp-for="Periodo" class ="form-control" asp-items="ViewBag.Periodo"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <select asp-for="Ano" class ="form-control" asp-items="ViewBag.Ano"></select>
            </div>
            <div class="form-group">
                <label asp-for="Aula" class="control-label"></label>
                <input asp-for="Aula" class="form-control" />
                <span asp-validation-for="Aula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesor" class="control-label"></label>
                <select asp-for="Profesor" class ="form-control" asp-items="ViewBag.Profesor"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
